[Unit]
Description=Home Assistant
After=network.target
Wants=dns.service
After=dns.service

[Service]
Type=simple
User=homeassistant
ExecStart=/srv/homeassistant/bin/hass --config /srv/homeassistant

[Install]
WantedBy=multi-user.target
